/* SPDX-FileCopyrightText: Nattika Jugkaeo <nattika.jugkaeo@uni-marburg.de>
	SPDX-License-Identifier: AGPL-3.0-or-later */

#root {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.card {
  padding: 2em;
}
